# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "66266bdf32e75472ea62e98d37e652fe"
name = "judgeme"
application_url = "https://judgme.onrender.com"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products, write_themes"

[auth]
redirect_urls = [ "https://judgme.onrender.com" ]
[env]
DATABASE_URL = "postgresql://neondb_owner:npg_HzgQ9L2vOaZT@ep-winter-rain-a1wgc8xt-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
